.Header {
    background-color: transparent;
    color: #fff;
    padding-top: 20px;
    }

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__list {
        display: flex;
        justify-content: space-between;
        width: 500px;
        a{
            color: #fff;
            &:hover{
                color: #adacac;
                transition: all 0.5s ease;
            }
        }
    }

    .header__register {
        .header__signIn {
            color: #FFF;
            font-family: Playfair Display;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            text-decoration-line: underline;
            background-color: transparent;
            border: none;
            margin-right: 35px;
        }

        .header__signUp {
            border-radius: 24px;
            background: #F9C06A;
            box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
            color: #1E1E1E;
            font-family: Playfair Display;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            padding: 14px 27px;
            border: none;
            
        }


    }
}