*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #fff;

}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px ;

}
ul,ol{
  list-style-type: none;
  a{
    text-decoration: none;
  }
}